body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f4c81, #f57c00);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Logo */
.logo {
    width: 80px;
    margin-bottom: 10px;
}

/* Title */
.card h2 {
    color: #0f4c81;
    margin-bottom: 5px;
}

/* Subtitle */
.subtitle {
    color: gray;
    margin-bottom: 20px;
}

/* Input Row */
.row {
    display: flex;
    gap: 10px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #0f4c81;
    box-shadow: 0 0 5px #0f4c81;
}

/* Gender */
.gender {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #0f4c81;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f57c00;
}

/* Links */
.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: #0f4c81;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    color: #f57c00;
}
